AddressFamily inet
AddKeysToAgent yes

# == My personal == #
Host homepc
HostName static-a179.voronezh.golden.ru
IdentityFile ~/.ssh/%r@homepc
Port 62626

Host github.com
User git

Host *.fedoraproject.org
IdentityFile ~/.ssh/%r@fedoraproject
User dexpl

# == goldenisland == #
Host srv1.goldenisland.cc
ForwardX11 yes
Port 62626

Host fms
ProxyCommand ssh dexpl@srv1.goldenisland.cc nc %h %p

# == IntegralAgro == #
Host shellvm.integralagro.ru
ForwardAgent no
Port 32768

## First site
#Host 4ac704bafadb.sn.mynetname.net

## Second site
#Host 7c300731ccbc.sn.mynetname.net
#IdentityFile ~/.ssh/%r@hwmikrotik2
#StrictHostKeyChecking no

## Third site
#Host 64310675cac9.sn.mynetname.net
#IdentityFile ~/.ssh/%r@hwmikrotik3
#StrictHostKeyChecking no

## Fourth site
#Host 7c30087f0b04.sn.mynetname.net
#IdentityFile ~/.ssh/%r@hwmikrotik4
#StrictHostKeyChecking no

# old-mikrotik
# 557e0498cf2d.sn.mynetname.net
Host site*.integralagro.ru
StrictHostKeyChecking no

# == Shiptor et. al. == #
# vrn-gw.shiptor.ru
Host 8a77093482da.sn.mynetname.net
IdentityFile ~/.ssh/%r@shiptor.ru
#ssh -o ProxyCommand=ssh -q -W %h:%p 8a77093482da.sn.mynetname.net -o StrictHostKeyChecking=no -t 192.168.111.239 screen -DR dexpl

# msk-gw.shiptor.ru
Host 49cc02200715.sn.mynetname.net
IdentityFile ~/.ssh/%r@shiptor.ru
Port 8022

Host *.requ.ru
IdentityFile ~/.ssh/%r@shiptor.ru

Host *.shiptor.ru
IdentityFile ~/.ssh/%r@shiptor.ru

Host *.zappstore.pro
IdentityFile ~/.ssh/%r@shiptor.ru

# == all that remains == #
Host *
ForwardAgent yes
ForwardX11 no
#IdentitiesOnly yes
IdentityFile ~/.ssh/%r@%h
#User dexpl
